<!DOCTYPE HTML>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="default">

<head>
<title>Menu List</title>
</head>

<body>

	<div layout:fragment="content" class="row">

		<div class="row page-list">

			<h2>
				Menu Details <a href="/menu/create" class="btn btn-warning"><span
					class="glyphicon glyphicon-plus-sign"></span> Add New</a>
			</h2>
			<div class="table-responsive">
				<table class="table table-striped page-details">
					<thead class="table-dark">
						<tr>
							<th>Name</th>
							<th>Price</th>
							<th>Recipe</th>
							<th>Details</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="data : ${datalist}">
							<td th:text="${data.name}"></td>
							<td th:text="${data.price}"></td>
							<td th:text="${data.recipe}"></td>
							<td><a th:href="@{'/menu/show/' + ${data.id}}">
									<button>Details</button>
							</a></td>

						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</body>

</html>