<!DOCTYPE HTML>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="default">

<head>
	<title>Order List</title>
</head>

<body>
	<div layout:fragment="content" class="row">
		<div class="row page-list">

			<h2>
				Order Details

			</h2>
			<div class="table-responsive">
				<table class="table table-striped page-details">
					<thead class="table-dark">
						<tr>
							<th>Order Details</th>
							<th>Quantity</th>
							<th>Amount</th>
							<th>Ordered Time</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="data : ${datalist}">
							<td><a th:href="@{'/order/placed/' + ${data.id}}"><span class="glyphicon glyphicon-folder-open"></span> View</a></td>
							<td th:if="${data.orderItems != null}" th:text="${data.orderItems.size()}+' Items'"></td>
							<td th:if="${data.orderItems == null}" th:text="${'0 Items'}"></td>
							<td th:text="${data.amount==null?0:data.amount}"></td>
							<td th:text="${data.orderedDate}"></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</body>

</html>