<!DOCTYPE HTML>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="default">

<head>
	<title>Add Room</title>
</head>

<body>
	<div layout:fragment="content" class="row page-create">
		<div class="row">
			<h2>
				Add New Slot
				
			</h2>
			<form th:action="@{/slot/save}" th:object="${slot}" method="post">

				<table class="tbl-form">

					<tr>
						<td>Slot Time</td>
						<td><input type="time" class="form-control" name="slotTime" /></td>
					</tr>
					
				</table>
				
				<button type="submit" class="btn btn-success btn-submit">Save</button>
			</form>
		</div>
	</div>
</body>

</html>