<!DOCTYPE HTML>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="default_cust">

<head>
	<title> Customer</title>
</head>

<body>
	<div layout:fragment="content" class="row page-create">

		<div class="row ">

			<h2>
				<br><br><br><br><br>
				Table is not available on that slot
				<br><br>
			</h2>

			<table class="tbl-form">
				<tr>
					<td class="text-center">
						<a href="/customer/home" class="btn btn-success btn-submit">
							Try with different slot
						</a>
					</td>
				</tr>

			</table>

		</div>
	</div><!-- /.container -->

	<script src="/webjars/jquery/1.11.1/jquery.min.js"></script>
	<script src="/webjars/bootstrap/5.1.3/js/bootstrap.min.js"></script>

</body>

</html>